<div class="px-6 py-8 mx-auto sm:max-w-xl lg:py-0">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 text-center">
      <p class="mb-3 text-2xl mb-3">Your Results Are Ready!</p>
        
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 mb-5 mt-4">
        <p class="text-4xl font-black text-green-600"><%= @good_numbers.count %></p>
        <p class="text-4xl font-black text-red-600"><%= @bad_numbers.count %></p>
      </div>
    
      <div class="flex items-center justify-center w-full mb-3">
        <a href='data:text/csv;charset=utf-8,<%= @good_numbers.join("\n") %>'  download="GOOD.csv" class="text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:opacity-75 disabled:bg-gray-500 mr-3">
          Download Good
          
        </a>

        <a href='data:text/csv;charset=utf-8,<%= @bad_numbers.join("\n") %>'  download="BAD.csv" class="text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:opacity-75 disabled:bg-gray-500">
          Download Bad
        </a>
      </div>
 
  </div>
</div>
