<div class="relative p-4 w-full max-w-2xl h-full mx-auto md:h-auto">
  <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
    <%= render 'form', user: @user %>
  </div>
</div>
